body{
  width: 100;
  background-color: rgb(57, 53, 91);
}

.movieContainer {
  position: relative;
  width : 350px;
  background-color: rgb(97, 95, 118);
  color: white;
  border-radius: 5px;
  height: 650px;
}

.movieContainer img {
  width: 100%;
  border-radius: 5px;
}

.appContainer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.movieInfo {
  display: flex;
  height : 30px;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
}

.movieInfo h4 {
  margin : 0;
}

.movieInfo span {
  margin-left: 3px;
}

.movieOverview:hover {
  opacity: 0.7;
}

.movieOverview {
  position: absolute;
  z-index: 1;
  width: 350px;
  height: 650px;
  border-radius: 5px;
  color: rgb(210, 210, 210);
  background-color: black;
  font-size: 17px;
  opacity: 0;
  justify-content: center;
}

.movieContainer h3, .movieContainer p{
  justify-content: space-between;
  margin: 20px;
  margin-top : 30px;
}
