body {
  font-family: Arial, sans-serif;
  background-color: #2f2a6e;
  color: white;
}
.movieContainer {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 480px;
  margin: 20px;
  background: #45408a;
  border-radius: 5px;
}
.movieContainer img {
  width: 100%;
  border-radius: 5px;
}
.movieTitle {
  font-weight: bold;
}
.showTitle {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 70px;
}
.movie-swapper {
  position: absolute;
  width: 250px;
  height: 480px;
  color: rgb(210, 210, 210);
  opacity: 0;
  justify-content: center;
  border-radius: 5px;
}
.movie-swapper:hover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.2s ease;
  opacity: 1;
}
.movie-swapper h3, p {
  margin: 10px;
  margin-top: 20px;
}
