.increase{
  margin-left: 5px;
  background-color: rgb(213, 213, 213);
  align-items: center;
}

.decrease{
  width: 50px;
  margin-left : 7px;
  background-color : rgb(213, 213, 213);
  text-align: center;
  align-items: center;
}

h2{
  margin-left: 10px;
}

.counterContainer{
  position:fixed;
  top:0;
  left:0;
}
