body {
    font-family: Arial, sans-serif;
    background-color: #c9d8ee;
}
#title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin: 100px;
}
.line {
    border-top: 3px solid rgb(185, 207, 238);
    margin: 10px auto;
    width: calc(80%);
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input[type="text"] {
    width: calc(60%);
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0e0d21;
    background-color: #dde8f8;
    font-size: 15px;
    font-style: italic;
    font: #c9d8ee;
}
.container {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 5px;
}
.lists{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin-left: 200px;
    margin-right: 200px;

}
#short1{
    border-top: 3px solid rgb(185, 207, 238);
    width: 80px;
    margin-top: -18px;
    height: 80px;
}
#short2{
    border-top: 3px solid rgb(185, 207, 238);
    width: 60px;
    margin-bottom: 80px;
    margin-top: -18px;
}
button {
    background-color: rgb(185, 207, 238);
    border: none;
    cursor: pointer;
    font-size: 15px;
    width: fit-content;
    height: 30px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -50px;

}
li {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 15px;
    font-size: 25px;
    border-bottom: 3px solid rgb(185, 207, 238);

}

