.background{
    background-color: #f0f4fc
}

.box{
    width: 800px;
    margin:auto;
}

.title{
    text-align: center;
    padding: 40px 20px;
}

.center{
    text-align: center;
}

#text{
    width: 80%;
    padding: 8px 10px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    margin-top: 5px;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

#list1{
    flex:1;
    width: 30px;
}

#list2{
    flex:1;
    width: 30px;
}

input::placeholder {
    opacity: 0.5;
    font-style: italic;
}

.little-container{
    display: flex;
    padding-bottom: 4px;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid lightgray;
    height: 30px;
    margin-bottom: 20px;
    width: 180px;
    margin-left: 110px;
    margin-right: 110px;
}

#left{
    text-align: left;
    margin-right: 30px;
    flex:1;
    font-weight: bold;
    font-size: 16px;
}

#delete{
    background-color: #d4dfee;
    border: none;
    font-size: 12px;
    padding: 4px 5px;
    
}

#delete:hover{
    transform: scale(0.95);
    cursor: pointer;
}