#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
  
#modal {
    width : 320px;
    height : 160px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#modalTitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8%;
    margin-left: 5%;
}

#modalContainer p {
    font-size: 16px;
    margin-left: 5%;
}

#closeBtn{
    margin-left : 82%;
    margin-top : 5%;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: thin;
}