body {
    margin: 0;
    padding: 0;
    background-color: rgb(162, 212, 219);
    font-family: var(--font);
}

.signup{
    position: absolute;
    padding: 20px;
    width: 700px;
    height : 580px;
    background-color: #dbf0f2;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
}

.signup #fullname, .signup #email,.signup #age,.signup #password, .signup #confirm-password{
    width: 45%;
    line-height: normal;
    padding: 4px;
    height: 25px;
    background-color: #dbf0f2;;
    margin-left : 27%;
    margin-top : 10px;
    border-radius: 10px;

}

.signup .error-message {
    font-size : 12px;
    margin-left : 27%;
}

.signup #submit_btn{
    width : 20%;
    height: 30px;
    margin-left : 40%;
    margin-top : 10px;
    background-color: #747474;
    border-radius: 10px;
    color : white;
    border : none;
}

label{
    font-size: 15px;
    margin-left : 27%;
}

.successStyle{
    color : green;
}


/*#modalContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
  }*/
  
#modal {
    position: absolute;
    background-color: #ffffff;
    width: 300px;
    height: 130px;
    padding: 15px;
    border-radius: 5px;
}

#modalTitle {
    font-weight: bold;
    font-size: 25px;
}

#closeBtn{
    margin-left : 80%;
    margin-top : 5%;
    background-color: #ffffff;
    border-radius: 5px;
    border-width: thin;
}

#modalContainer{
    display: none;
    width : 450px;
    height: 180px;
    background-color: white;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#modal_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}