.Title {
  font-size: 50px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 5%;
}


body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 231, 250);
    font-family: var(--font);
}


.Input {
  width: 500px;
  height: 45px;
  font-style: oblique;
  font-size : 15px;
  font-family: var(--font);
  color: rgb(208, 208, 208);
}

.Inputbox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 48px;
}

h2 {
  font-size: 20px;
  border-bottom: 3px solid;
  border-bottom-color : rgb(166, 195, 246);
}


.List {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.Todolist{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-left: 10%;
}

.Completedlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-right: 12%;
}

.listStyle{
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 50%;
  margin:8px;
  padding: 6px;
  font-size: 18px;
  border-bottom: 4px solid ;
  border-bottom-color : rgb(166, 195, 246);
}
